{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
    <div class="vh-100 d-flex align-items-center">
        <div class="container">
            <div class="col-lg-7">
              <h1 class="display-4"> Verdensmål 3.9</h1>
              <p>"Inden 2030 skal antallet af dødsfald og sygdomstilfælde som følge af udsættelse for farlige kemikalier samt luft-, vand- og jordforurening væsentligt reduceres."</p>
              <img class="img-fluid" src="static/3D print model 1.png" alt="3D print">  
            </div>
        </div>
      </div>
{% endblock %}

